.main {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.counters {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.store {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.storeApi {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background: #eee;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.storeObject {
  height: 100vh;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ccc;
}

.info {
  position: absolute;
  top: 16px;
  right: 0;
  left: 0;
  width: 425px;
  margin: 0 auto;
  padding: 8px 12px;
  border-radius: 4px;
  text-align: center;
  background-color: antiquewhite;
  font-size: 12px;
  font-weight: 700;
}
